* {
  box-sizing: border-box;
}

body {
  align-content: space-evenly;
  color: rgba(233, 127, 182, 0.8);
  display: flex;
  font-family: rubik bubbles;
  height: 100vh;
  justify-content: center;
  margin: auto;
}

.firstSection {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.heading {
  align-items: center; 
  display: flex;
  flex-direction: row;
  margin: 40px;
}

#title01 {
  animation: wiggle 2s;
  animation-iteration-count: infinite;
  width: 30px;
}
#title02 {
  animation: wiggle 3s;
  animation-iteration-count: infinite;
  width: 30px;
}
#title03 {
  animation: wiggle 4s;
  animation-iteration-count: infinite;
  width: 30px;
}
#title04 {
  animation: wiggle 5s;
  animation-iteration-count: infinite;
  width: 30px;
}
#title05 {
  animation: wiggle 6s;
  animation-iteration-count: infinite;
  width: 30px;
}
#title06 {
  animation: wiggle 7s;
  animation-iteration-count: infinite;
  width: 30px;
}
#title07 {
  animation: wiggle 8s;
  animation-iteration-count: infinite;
  width: 20px;
}
#title08 {
  animation: wiggle 9s;
  animation-iteration-count: infinite;
  width: 20px;
}
#title09 {
  animation: wiggle 10s;
  animation-iteration-count: infinite;
  width: 20px;
}
#title10 {
  animation: wiggle 11s;
  animation-iteration-count: infinite;  
  width: 30px;
}
#title11 {
  animation: wiggle 12s;
  animation-iteration-count: infinite;
  width: 30px;
}

@keyframes wiggle {
  0% { transform: translate(1px, 1px) rotate(0deg);}
  40% { transform: translate(1px, -1px) rotate(1deg);}
  50% { transform: translate(-1px, 2px) rotate(-1deg);}
  60% { transform: translate(-3px, 1px) rotate(0deg);}
  70% { transform: translate(3px, 1px) rotate(-1deg);}
  80% { transform: translate(-1px, -1px) rotate(1deg);}
  90% { transform: translate(1px, 2px) rotate(0deg);}
  100% { transform: translate(1px, -2px) rotate(-1deg);}
}

.game-wrapper {
height: 500px;
min-width: min-content;
}

.firstcolumn {
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
margin: auto;
}

#highscore {
border: 2px solid rgba(233, 127, 182, 0.8);
border-radius: 50px;
box-shadow: 0 0 20px 0 rgba(233, 127, 182, 0.8);
grid-row: 1;
margin-bottom: 40px;
padding: 5px 15px 5px 15px;
text-align: center;
width: 210px;
}

#score {
text-align: center;
}

#gridMessage {
  color: hotpink;
  position: relative;
  text-align: center;
  z-index: 10;
}

.grid-wrapper {
  align-items: center;
  display: flex;
  height: 70%;
  justify-content: center;
  margin: auto;
}

.grid {
  box-shadow: 0 0 20px 0 rgba(233, 127, 182, 0.8);
  display: flex;
  flex-wrap: wrap;
  height: 20em;
  position: absolute;
  width: 20em;
}

.grid div {
  position: relative;
  border: 1px solid rgba(233, 127, 182, 0.8);
  flex-grow: 1;
  height: 5%;
  width: 5%;
  z-index: 2;
}

.grid div.cat {
background-image: url('../images/caterpillarbody.png');
background-repeat: no-repeat;
background-size: contain;
cursor: pointer;
}

.grid div.catHead {
background-image: url('../images/caterpillarhead.png');
}

.grid div.food {
background-image: url('../images/leaf.png');
background-repeat: no-repeat;
background-size: contain;
}

#catHead {
background-image: url('../images/cathead01.png');
background-repeat: no-repeat;
background-size: contain;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 900px) {

#buttonContainer {
  display: none;
}

.grid {
  box-shadow: 0 0 20px 0 rgba(233, 127, 182, 0.8);
  display: flex;
  flex-wrap: wrap;
  height: 20em;
  width: 20em;
}

body {
align-content: space-evenly;
align-items: center;
color: rgba(233, 127, 182, 0.8);
display: flex;
flex-direction: column;
font-family: rubik bubbles;
height: 100vh;
justify-content: center;
margin: auto;
}

.game-wrapper {
align-items: center;
display: flex;
height: 500px;
margin: 10px;
min-width: min-content;
width: 850px;
}

.firstSection {
  display: flex;
  flex-direction: row;
}

.firstcolumn {
align-items: center;
display: flex;
margin: auto;
}

#highscore {
align-items: center;
border: 2px solid rgba(233, 127, 182, 0.8);
box-shadow: 0 0 20px 0 rgba(233, 127, 182, 0.8);
padding: 10px;
width: 210px;
}

#score {
text-align: center;
}

#gamePaused {
text-align: center;
}

#gameover {
text-align: center;
}

.heading {
align-items: center; 
display: flex;
flex-direction: column;
justify-content: space;
margin: 40px;
}

#title01 {
  animation: wiggle 2s;
  animation-iteration-count: infinite;
  width: 50px;
}
#title02 {
  animation: wiggle 3s;
  animation-iteration-count: infinite;
  width: 50px;
}
#title03 {
  animation: wiggle 4s;
  animation-iteration-count: infinite;
  width: 50px;
}
#title04 {
  animation: wiggle 5s;
  animation-iteration-count: infinite;
  width: 50px;
}
#title05 {
  animation: wiggle 6s;
  animation-iteration-count: infinite;
  width: 50px;
}
#title06 {
  animation: wiggle 7s;
  animation-iteration-count: infinite;
  width: 50px;
}
#title07 {
  animation: wiggle 8s;
  animation-iteration-count: infinite;
  width: 35px;
}
#title08 {
  animation: wiggle 9s;
  animation-iteration-count: infinite;
  width: 30px;
}
#title09 {
  animation: wiggle 10s;
  animation-iteration-count: infinite;
  width: 30px;
}
#title10 {
  animation: wiggle 11s;
  animation-iteration-count: infinite;  
  width: 50px;
}
#title11 {
  animation: wiggle 12s;
  animation-iteration-count: infinite;
  width: 50px;
}

#header {
grid-column: 5 
}

.grid-wrapper {
align-items: center;
display: flex;
justify-content: center;
margin: auto;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(233, 127, 182, 0.8);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 500px;
  width: 500px;
}

.grid div {
border: 1px solid rgba(233, 127, 182, 0.8);
flex-grow: 1;
height: 5%;
width: 5%;
}

.grid div.cat {
background-image: url('../images/caterpillarbody.png');
background-repeat: no-repeat;
background-size: contain;
cursor: pointer;
}

.grid div.catHead {
background-image: url('../images/caterpillarhead.png');
}

.grid div.food {
background-image: url('../images/leaf.png');
background-repeat: no-repeat;
background-size: contain;
}

#catHead {
background-image: url('../images/cathead01.png');
background-repeat: no-repeat;
background-size: contain;
}
}
